
.vscode/settings.json
/Chat-with-Llama3-with-Ollama/etc
/Chat-with-Llama3-with-Ollama/Include
/Chat-with-Llama3-with-Ollama/Lib
/Chat-with-Llama3-with-Ollama/Scripts
/Chat-with-Llama3-with-Ollama/share
/Llama3-7B-vs-GPT4/etc
/Llama3-7B-vs-GPT4/Include
/Llama3-7B-vs-GPT4/Lib
/Llama3-7B-vs-GPT4/Scripts
/Llama3-7B-vs-GPT4/share
